.active {
  color: #0b5ed7 !important;
  font-weight: bold;
  border-bottom: 3px solid #0b5ed7;
}

.margin{
  margin-left: 103px;
}

.margin-heading{
  margin-top: 55px;
}
.margin-bottom{
  margin-bottom: 24px;
}

.heading{
  font-size: 24px;
}

.parameters{
  display: flex;
}

.App{
  margin-left: 103px;
}